.box {
  font-size: 50px;
  width: 100px;
  margin: 1em auto;
  position: relative;
}

/* Cuando entra el componente */
.fade-enter {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}
.fade-enter-active {
  position: absolute;
  transform: translateY(0%);
  transition: all 1000ms ease;
  opacity: 1;
}

/* Cuando sale el componente */
.fade-exit {
  position: absolute;
  transform: translateY(0%);
  opacity: 1;
}
.fade-exit-active {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1000ms ease;
}